* {
    margin: auto;
    padding: 0;

}

.btn {
    color: #fff;
}

body {
    background-image: url("images/image4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}


h1 {
    text-align: center;
    padding: 10px 20px;
    margin: 5px;
    margin-right: 100px;
}

h1 img {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 30px;
    border-radius: 20px;
    flex: 1;
    margin-right: 14px;
    font-size: 18px;
}

img {
    width: 25px;
    height: 25px;
    border-radius: 50px;

}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.weather {
    padding: 30px 25px;
    padding-right: 80px;
}

.weather img {
    height: 200px;
    width: 200px;
}

.card1 {
    text-align: center;
}

.details {
    display: flex;

}

.card2 {
    width: 200px;
    height: 150px;
    background: rgb(146, 206, 252);
    margin-bottom: 10px;
    margin-right: 100px;
    border-radius: 20px;
    font-size: 20px;
    opacity: 5;
}

.card2 .humid-icon {
    height: 70px;
    width: 70px;
}

.card3 {
    width: 200px;
    height: 150px;
    margin-left: 10px;
    background: rgb(146, 206, 252);
    border-radius: 20px;
    font-size: 20px;
}

.card3 .wind-icon {
    height: 70px;
    width: 70px;

}
